# Lambda Functions - Lab

## Introduction

In this lab, you'll get some hands-on practice creating and using lambda functions.

## Objectives

In this lab you will:

* Create lambda functions to use as arguments of other functions   
* Use the `.map()` or `.apply()` method to apply a function to a pandas series or DataFrame

## Lambda Functions

In [1]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv', index_col=0)
df.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

## Simple arithmetic

Use a lambda function to create a new column called `'stars_squared'` by squaring the stars column.

In [2]:
# Your code here
df['stars'].map(lambda x: x**2).head()

1     25
2      1
4     25
5      1
10    25
Name: stars, dtype: int64

## Dates
Select the month from the date string using a lambda function.

In [3]:
df.date.iloc[0]

'2012-11-13'

In [5]:
# Your code here
df.date.map(lambda x: x[6:7])

1       1
2       0
4       9
5       2
10      6
       ..
689     6
4874    8
564     6
3458    0
4206    8
Name: date, Length: 2610, dtype: object

In [6]:
df.date.map(lambda x: x[6:7]).unique()

array(['1', '0', '9', '2', '6', '8', '5', '4', '3', '7'], dtype=object)

## What is the average number of words for a yelp review?
Do this with a single line of code.

In [8]:
# Your code here
df.text.map(lambda words: len(words.split())).mean()

77.06551724137931

## Create a new column for the number of words in the review

In [9]:
# Your code here
df['review_words'] = df.text.map(lambda words: len(words.split()))

In [10]:
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,review_words
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,58
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,30
4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,30
5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,82
10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,32

## Rewrite the following as a lambda function

Create a new column `'Review_Length'` by applying this lambda function to the `'Review_num_words'` column.

In [ ]:
# Rewrite the following function as a lambda function
def rewrite_as_lambda(value):
    if len(value) < 50:
        return 'Short'
    elif len(value) < 80:
        return 'Medium'
    else:
        return 'Long'
# Hint: nest your if, else conditionals

In [22]:
df['Review_length'] = df['review_words'].map(lambda value: 'Short' if value < 50 else 'Medium' if value < 80 else 'Long')

#after using lambda, no punctuation is necessary in if else conditional statements

In [23]:
df['Review_length']

1       Medium
2        Short
4        Short
5         Long
10       Short
         ...
689     Medium
4874     Short
564     Medium
3458      Long
4206     Short
Name: Review_length, Length: 2610, dtype: object

## Level Up: Dates Advanced
<img src="images/world_map.png" width="600">  

Print the first five rows of the `'date'` column.

In [12]:
# Your code here
df.date

1       2012-11-13
2       2014-10-23
4       2014-09-05
5       2011-02-25
10      2016-06-15
           ...
689     2013-06-02
4874    2016-08-14
564     2016-06-14
3458    2013-10-02
4206    2016-08-15
Name: date, Length: 2610, dtype: object

Overwrite the `'date'` column by reordering the month and day from `YYYY-MM-DD` to `DD-MM-YYYY`. Try to do this using a lambda function.

In [16]:
# Your code here
DATE = pd.to_datetime(df.date)

DATE.map(lambda y: y.strftime("%d-%m-%Y"))

1       13-11-2012
2       23-10-2014
4       05-09-2014
5       25-02-2011
10      15-06-2016
           ...
689     02-06-2013
4874    14-08-2016
564     14-06-2016
3458    02-10-2013
4206    15-08-2016
Name: date, Length: 2610, dtype: object

## Summary

Hopefully, you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone else's code that happens to use lambdas.